<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Angular - Performance Test</title>

<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" media="screen">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/screen.css" media="screen">

<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

<script src="http://underscorejs.org/underscore-min.js" type="text/javascript"></script>

<script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript"></script>
<script src="/bower_components/angular-resource/angular-resource.min.js" type="text/javascript"></script>

<!-- <script src="http://react.zpao.com/builds/master/latest/react.min.js" type="text/javascript"></script> -->

<div ng-app="todoApp">
    <section class="container" ng-controller="TodoController as todo">
        <div class="col-md-6 col-md-offset-3 yellow-paper">
            <div class="yellowpage-header">
                <span class="delete-selected">
                    <a href="#" 
                        ng-click="todo.deleteSelected($event)" 
                        ng-show="!isNoItemSelected" 
                        title="Delete Selected">
                            <img src="/images/eraser.png" alt="Delete Selected"/>
                    </a>
                </span>
                <h1 class="title my-title">my todo list</h1>
            </div>
            <form class="add-todo-form" ng-submit="todo.addTodo()">
                <select-all-checkbox checkboxes="todoList" all-selected="isAllItemSelected" class="toggle" all-clear="isNoItemSelected"></select-all-checkbox>
                <label for="add-todo-input" class="add-todo-input">
                    <input type="text" name="todo" id="add-todo-input" ng-model="formData.todo" placeholder="List what to do...">
                </label>
            </form>
            <ul class="todo-list">
                <li ng-repeat="item in todoList track by $index" ng-mouseover="todo.setCurrent($index)" ng-mouseleave="todo.setCurrent()">
                    <input ng-model="item.selected" class="toggle select-todo" type="checkbox" value="{{$index}}">
                    <label ng-class="{selected:item.selected}">{{item.todo}}</label>
                    <span class="action" ng-show="$index == currentIndex">
                        <a href="#" ng-click="todo.editTodo($event, $index)"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="delete-btn" ng-click="todo.deleteTodo($event, $index)"><i class="fa fa-times"></i></a>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <button onclick="startAddition();">Insert 100 items</button>
            <p class="print-wrap" id="simulation-time-add-wrap">Total time: 0 ms</p>
            <button onclick="selectAll();">Select all items</button>
            <p class="print-wrap" id="simulation-time-select-wrap">Total time: 0 ms</p>
            <button onclick="deleteAll();">Delete all items</button>
            <p class="print-wrap" id="simulation-time-delete-wrap">Total time: 0 ms</p>
        </div>
    </section>
</div>

<script type="text/javascript">    
(function(){
    var todo = angular.module('todoApp', []);

    todo.controller('TodoController', [
        '$scope',
        function($scope){
            $scope.currentIndex;
            $scope.formData = {}
            $scope.todoList = [
                {todo : 'Create'},
                {todo : 'Read'},
                {todo : 'Update'},
                {todo : 'Delete'}
            ];
            $scope.isAllItemSelected = false;
            $scope.isNoItemSelected = false;
            this.addTodo = function(){
                if(typeof $scope.formData.index === "undefined"){
                    if($scope.formData.todo){
                        $scope.todoList.push($scope.formData);
                    }
                }
                $scope.formData = {}
            }
            this.editTodo = function(event, index){
                event.preventDefault();
                $scope.formData = $scope.todoList[index];
                $scope.formData['index'] = index;
            }
            this.deleteTodo = function(event, index){
                event.preventDefault();
                $scope.todoList.splice(index, 1);
            }
            this.setCurrent = function(index){
                if($scope.currentIndex != index){
                    $scope.currentIndex = index;
                }
            }
            this.deleteSelected = function(event){
                event.preventDefault();
                for(var i = $scope.todoList.length; i--;){
                   if($scope.todoList[i].selected) $scope.todoList.splice(i,1)
                }
            }
        }
    ]);

    todo.directive('selectAllCheckbox', function () {
        return {
            replace: true,
            restrict: 'E',
            scope: {
                checkboxes: '=',
                allselected: '=?allSelected',
                allclear: '=?allClear'
            },
            template: '<input type="checkbox" ng-model="master" ng-change="masterChange()">',
            controller: function ($scope, $element) {
                $scope.masterChange = function () {
                    angular.forEach($scope.checkboxes, function (cb, index) {
                        cb.selected = $scope.master;
                    });
                };
            },
            link: function(scope, element, attrs){
                scope.$watch('checkboxes', function () {
                    var allSet = true,
                        allClear = true;
                    angular.forEach(scope.checkboxes, function (cb, index) {
                        if (cb.selected) {
                            allClear = false;
                        } else {
                            allSet = false;
                        }
                    });
                    scope.allselected = allSet;
                    scope.allclear = allClear;

                    element.prop('indeterminate', false);
                    if (allSet) {
                        scope.master = true;
                    } else if (allClear) {
                        scope.master = false;
                    } else {
                        scope.master = false;
                        element.prop('indeterminate', true);
                    }

                }, true);
            }
        };
    });
})();

function startAddition(){
    var startTime = Date.now()
    var newTodo = document.getElementById('add-todo-input');
    var printTime = document.getElementById('simulation-time-add-wrap');
    var submitEvent = document.createEvent('Event');
    submitEvent.initEvent('submit', true, true);
    for (var i = 0; i < 100; i++) {
        var inputEvent = document.createEvent('Event');
        inputEvent.initEvent('input', true, true);
        newTodo.value = 'Something to do ' + i;
        newTodo.dispatchEvent(inputEvent);
        newTodo.form.dispatchEvent(submitEvent);
    }
    totalTime = Date.now() - startTime;
    printTime.innerHTML = 'Total time: ' + totalTime + ' ms'
}
function deleteAll(){
    var startTime = Date.now()
    var printTime = document.getElementById('simulation-time-delete-wrap');
    var deleteButtons = document.querySelectorAll('.delete-btn');
    for(var i = deleteButtons.length; i--;){
        deleteButtons[i].click();
    }
    totalTime = Date.now() - startTime;
    printTime.innerHTML = 'Total time: ' + totalTime + ' ms'
}
function selectAll(){
    var startTime = Date.now()
    var printTime = document.getElementById('simulation-time-select-wrap');
    var inputSelects = document.querySelectorAll('.select-todo');
    for(var i = inputSelects.length; i--;){
        var inputEvent = document.createEvent('Event');
        inputEvent.initEvent('click', true, true);
        inputSelects[i].checked = true;
        inputSelects[i].dispatchEvent(inputEvent);
    }
    totalTime = Date.now() - startTime;
    printTime.innerHTML = 'Total time: ' + totalTime + ' ms'
}
</script>