{% include header %}
<script type='text/x-handlebars' data-template-name='application'>
<section class="container">
    <h1 class="vendor-logo">
        <img src="http://emberjs.com/images/logos/ember-logo.png"/>
    </h1>
    <div class="col-md-5 yellow-paper">
        {{outlet}}
    </div>
    <div class="col-md-7">
        <button onclick="benchmark('add', startAddition);">Insert 100 items</button>
        <p class="print-wrap" id="simulation-time-add-wrap">Total time: 0 ms</p><br/>
        <button onclick="benchmark('select', selectAll);">Select all items</button>
        <p class="print-wrap" id="simulation-time-select-wrap">Total time: 0 ms</p><br/>
        <button onclick="benchmark('delete', deleteAll);">Delete all items</button>
        <p class="print-wrap" id="simulation-time-delete-wrap">Total time: 0 ms</p><br/>
        <h3>The Code</h3>
        <pre>
{%= code %}
        </pre>
    </div>
</section>
</script> 
<!-- TEMPLATES -->
<script type="text/x-handlebars" data-template-name="todos">
<div class="yellowpage-header">
    <span class="delete-selected">
        <a href="#" {{bind-attr class="noSelected:hide" }} title="Delete Selected" {{action deleteSelected on="click" }}> <img src="/images/eraser.png" alt="Delete Selected"/></a>
    </span>
    <h1 class="title my-title">my todo list</h1>
</div>
<form class="add-todo-form" {{action "upsertTodo" on="submit"}}>
    {{input class="toggle" type='checkbox' checked=allSelected}}
    <label for="add-todo-input" class="add-todo-input">
        {{input type="text" id="add-todo-input" name="todo" placeholder="List what to do..." value=todoValue}}
    </label>
</form>
<ul class="todo-list">
    {{#each model}}
    <li>
        {{input class="toggle select-todo" type='checkbox' checked=selected value=id }}
        <label {{bind-attr class=selected}}>{{ todo }}</label>
        <span class="action">
            <a href="#" {{action "editTodo" this on="click" }} class="edit-btn"><i class="fa fa-pencil"></i></a>
            <a href="#" {{action "deleteTodo" this on="click" }} class="delete-btn"><i class="fa fa-times"></i></a>
        </span>
    </li>
    {{/each}}
</ul>
</script> 

{% include footer %}
<script src="/bower_components/handlebars/handlebars.min.js" type="text/javascript"></script>
<script src="/bower_components/ember/ember.min.js" type="text/javascript"></script>
<script src="/javascripts/ember.app.js" type="text/javascript"></script>
<script src="/javascripts/simulation.js" type="text/javascript"></script>