<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>JS Framework Perf</title>

<link rel="stylesheet" href="/assets/vendors/bootstrap-3.2.0/css/bootstrap.css" media="screen">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/stylesheets/screen.css" media="screen">

<script src="/assets/vendors/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/assets/vendors/bootstrap-3.2.0/js/bootstrap.min.js" type="text/javascript"></script>

<script src="/assets/vendors/angular-1.2.22/angular.min.js" type="text/javascript"></script>
<script src="/assets/vendors/angular-1.2.22/angular-resource.min.js" type="text/javascript"></script>
<script src="/assets/vendors/angular-1.2.22/angular-ui-router.min.js" type="text/javascript"></script>
<script src="/assets/javascripts/angular/app.js" type="text/javascript"></script>

<div ng-app="angularApp">
    <section class="container" ng-controller="TestController as ctrl">
        <div class="row" ng-repeat="rows in data | pmkr.partition:6">
            <div class="col-md-2" ng-repeat="row in rows">
                <p style="font-size:{{row.size}};">{{row.face}}</p>
            </div>
        </div>
    </section>
</div>