<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>JS Framework Perf</title>

<link rel="stylesheet" href="/assets/vendors/bootstrap-3.2.0/css/bootstrap.css" media="screen">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/stylesheets/screen.css" media="screen">

<script src="/assets/vendors/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="http://underscorejs.org/underscore-min.js" type="text/javascript"></script>
<script src="/assets/vendors/bootstrap-3.2.0/js/bootstrap.min.js" type="text/javascript"></script>

<script src="/assets/vendors/angular-1.2.22/angular.min.js" type="text/javascript"></script>
<script src="/assets/vendors/angular-1.2.22/angular-resource.min.js" type="text/javascript"></script>
<script src="/assets/vendors/angular-1.2.22/angular-ui-router.min.js" type="text/javascript"></script>

<script src="http://react.zpao.com/builds/master/latest/react.min.js" type="text/javascript"></script>

<!-- <script src="/assets/javascripts/angular/app.js" type="text/javascript"></script> -->

<div ng-app="angularApp">
    <section class="container" ng-controller="TodoController as todo">
        <div class="col-md-6 col-md-offset-3 yellow-paper">
            <h1 class="title my-title">my todo list</h1>
            <form class="add-todo-form" ng-submit="todo.addTodo()">
                <input class="toggle" type="checkbox">
                <label for="add-todo-input">
                    <input type="text" name="todo" id="add-todo-input" ng-model="formData.todo" placeholder="List what to do..">
                </label>
            </form>
            <ul class="todo-list">
                <li ng-repeat="item in todolist track by $index" ng-mouseover="todo.setCurrent($index)" ng-mouseleave="todo.setCurrent()">
                    <input class="toggle" type="checkbox" value="{{$index}}">
                    <label>{{item.todo}}</label>
                    <span class="action" ng-show="$index == currentIndex">
                        <a href="#" ng-click="todo.editTodo($event, $index)"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-times"></i></a>
                    </span>
                </li>
            </ul>
            {{formData}}
        </div>  
    </section>
</div>

<script type="text/javascript">    
(function(){
    var app = angular.module('angularApp', []);

    app.controller('TodoController', [
        '$scope',
        function($scope){
            $scope.currentIndex;
            $scope.formData = {}
            $scope.todolist = [
                {todo : 'Create'},
                {todo : 'Read'},
                {todo : 'Update'},
                {todo : 'Delete'}
            ];
            this.addTodo = function(){
                if(typeof $scope.formData.index === "undefined"){
                    $scope.todolist.push($scope.formData);
                }
                $scope.formData = {}
            }
            this.editTodo = function(event, index){
                event.preventDefault();
                $scope.formData = $scope.todolist[index];
                $scope.formData['index'] = index;
            }

            this.setCurrent = function(index){
                if($scope.currentIndex != index){
                    $scope.currentIndex = index;
                }
            }
        }
    ]);
})();
// window.timeout = null;
// window.totalTime = null;
// window.loopCount = null;
// window.startDate = null;
// window.reset = function() {
//     $('#grid').empty();
//     $('#timing').html('&nbsp;');
//     clearTimeout(timeout);
// };
// window.startClock = function () {
//     loopCount = 0;
//     totalTime = 0;
//     startDate = Date.now();
// }

// window.benchmarkLoop = function(fn) {
//     totalTime += Date.now() - startDate;
//     startDate = Date.now();
//     fn();
//     loopCount++;
//     if (loopCount % 20 === 0) {
//         $('#timing').text('Performed ' + loopCount + ' iterations in ' + totalTime + ' ms (average ' + (totalTime / loopCount).toFixed(2) + ' ms per loop).');
//     }
//     timeout = _.defer(benchmarkLoop, fn);
// };
</script>