@import url("http://fonts.googleapis.com/css?family=Permanent+Marker|Architects+Daughter");
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../sass/screen.scss */
body {
  font-family: 'Architects Daughter', cursive;
  background-image: url("/images/bg.jpg");
  color: #333;
}

/* line 22, ../../sass/screen.scss */
.navbar-brand {
  padding: 4px 15px;
}
/* line 24, ../../sass/screen.scss */
.navbar-brand path {
  fill: #000000 !important;
}

/* line 30, ../../sass/screen.scss */
section h1 {
  margin: 10px 0 20px;
  text-align: center;
}
/* line 35, ../../sass/screen.scss */
section .yellow-paper {
  position: relative;
  padding: 0;
  background-color: #FFFFCC;
  -moz-box-shadow: 0 5px 15px 0 #cccccc;
  -webkit-box-shadow: 0 5px 15px 0 #cccccc;
  box-shadow: 0 5px 15px 0 #cccccc;
}
/* line 42, ../../sass/screen.scss */
section .yellow-paper:before {
  content: '';
  border-left: 1px solid #F08080;
  border-right: 1px solid #F08080;
  width: 3px;
  position: absolute;
  top: 0;
  left: 75px;
  height: 100%;
}
/* line 52, ../../sass/screen.scss */
section .yellow-paper label {
  display: block;
  margin-left: 78px;
  margin-bottom: 0;
}
/* line 56, ../../sass/screen.scss */
section .yellow-paper label.selected {
  color: #999;
  text-decoration: line-through;
}
/* line 60, ../../sass/screen.scss */
section .yellow-paper label.add-todo-input {
  margin: 5px;
  margin-left: 83px;
}
/* line 64, ../../sass/screen.scss */
section .yellow-paper label input[type="text"] {
  width: 100%;
  font-size: 2em;
  padding: 5px;
  border-width: 0;
  background-color: #FFFFCC;
  border-bottom: 1px solid #999;
}
/* line 71, ../../sass/screen.scss */
section .yellow-paper label input[type="text"]:focus {
  outline-width: 0;
}
/* line 76, ../../sass/screen.scss */
section .yellow-paper .yellowpage-header {
  position: relative;
}
/* line 78, ../../sass/screen.scss */
section .yellow-paper .yellowpage-header .my-title {
  font-size: 5em;
  text-align: center;
  margin: 20px 0;
  margin-left: 78px;
  font-family: 'Permanent Marker', cursive;
}
/* line 85, ../../sass/screen.scss */
section .yellow-paper .yellowpage-header .delete-selected {
  text-align: center;
  width: 75px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  margin-left: -30px;
  border: none;
  display: table;
}
/* line 96, ../../sass/screen.scss */
section .yellow-paper .yellowpage-header .delete-selected a {
  font-size: 2em;
  display: table-cell;
  vertical-align: middle;
  color: #ff6666;
}
/* line 101, ../../sass/screen.scss */
section .yellow-paper .yellowpage-header .delete-selected a:hover {
  color: #ff3333;
}
/* line 104, ../../sass/screen.scss */
section .yellow-paper .yellowpage-header .delete-selected a img {
  width: 120px;
}
/* line 111, ../../sass/screen.scss */
section .todo-list {
  padding: 0;
  margin: 0;
}
/* line 114, ../../sass/screen.scss */
section .todo-list li {
  list-style: none;
  border-top: 1px solid #00BFFF;
  position: relative;
}
/* line 118, ../../sass/screen.scss */
section .todo-list li label {
  white-space: pre;
  word-break: break-word;
  padding: 10px;
  font-size: 1.5em;
  padding-right: 70px;
}
/* line 125, ../../sass/screen.scss */
section .todo-list li .action {
  text-align: center;
  width: 60px;
  display: table;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto 0;
  border: none;
}
/* line 135, ../../sass/screen.scss */
section .todo-list li .action a {
  margin: 0 5px;
  font-size: 1.8em;
  display: table-cell;
  vertical-align: middle;
}
/* line 140, ../../sass/screen.scss */
section .todo-list li .action a:first-child {
  color: #ffe066;
}
/* line 142, ../../sass/screen.scss */
section .todo-list li .action a:first-child:hover {
  color: #ffd633;
}
/* line 146, ../../sass/screen.scss */
section .todo-list li .action a:last-child {
  font-size: 2em;
  color: #ff6666;
}
/* line 149, ../../sass/screen.scss */
section .todo-list li .action a:last-child:hover {
  color: #ff3333;
}
/* line 157, ../../sass/screen.scss */
section .add-todo-form {
  border-top: 1px solid #00BFFF;
  position: relative;
}
/* line 161, ../../sass/screen.scss */
section .toggle {
  text-align: center;
  width: 75px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
}
/* line 175, ../../sass/screen.scss */
section .print-wrap {
  margin: 10px 0;
  font-size: 1.3em;
}

/* line 180, ../../sass/screen.scss */
.vendor-logo img {
  width: 300px;
}
