@import url("http://fonts.googleapis.com/css?family=Permanent+Marker|Architects+Daughter");
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../sass/screen.scss */
body {
  font-family: 'Architects Daughter', cursive;
  background-image: url("/assets/images/bg.jpg");
  color: #333;
}

/* line 22, ../sass/screen.scss */
section {
  margin-top: 50px;
}
/* line 25, ../sass/screen.scss */
section .title.my-title {
  font-size: 5em;
  text-align: center;
  margin: 20px 0;
  margin-left: 78px;
  font-family: 'Permanent Marker', cursive;
}
/* line 33, ../sass/screen.scss */
section .yellow-paper {
  position: relative;
  padding: 0;
  background-color: #FFFFCC;
  -moz-box-shadow: 0 5px 15px 0 #cccccc;
  -webkit-box-shadow: 0 5px 15px 0 #cccccc;
  box-shadow: 0 5px 15px 0 #cccccc;
}
/* line 40, ../sass/screen.scss */
section .yellow-paper:before {
  content: '';
  border-left: 1px solid #F08080;
  border-right: 1px solid #F08080;
  width: 3px;
  position: absolute;
  top: 0;
  left: 75px;
  height: 100%;
}
/* line 50, ../sass/screen.scss */
section .yellow-paper label {
  display: block;
  margin-left: 78px;
}
/* line 53, ../sass/screen.scss */
section .yellow-paper label input[type="text"] {
  width: 100%;
  font-size: 2em;
  padding: 10px;
  border-width: 0;
  background-color: #FFFFCC;
}
/* line 59, ../sass/screen.scss */
section .yellow-paper label input[type="text"]:focus {
  border-width: 0;
  outline-width: 0;
}
/* line 66, ../sass/screen.scss */
section .todo-list {
  padding: 0;
  margin: 0;
}
/* line 69, ../sass/screen.scss */
section .todo-list li {
  list-style: none;
  border-top: 1px solid #00BFFF;
  position: relative;
}
/* line 73, ../sass/screen.scss */
section .todo-list li label {
  white-space: pre;
  word-break: break-word;
  padding: 10px;
  font-size: 1.5em;
}
/* line 81, ../sass/screen.scss */
section .add-todo-form {
  border-top: 1px solid #00BFFF;
  position: relative;
}
/* line 85, ../sass/screen.scss */
section .toggle {
  text-align: center;
  width: 75px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
}
