{% include header %}
<section class="container" ng-app="todoApp" ng-controller="TodoController as todo">
    <h1 class="vendor-logo">
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/695px-AngularJS_logo.svg.png"/>
    </h1>
    <div class="col-md-5 yellow-paper">
        <div class="yellowpage-header">
            <span class="delete-selected">
                <a href="#" 
                    ng-click="todo.deleteSelected($event)" 
                    ng-show="!isNoItemSelected" 
                    title="Delete Selected">
                        <img src="/images/eraser.png" alt="Delete Selected"/>
                </a>
            </span>
            <h1 class="title my-title">my todo list</h1>
        </div>
        <form class="add-todo-form" ng-submit="todo.addTodo()">
            <select-all-checkbox checkboxes="todoList" all-selected="isAllItemSelected" class="toggle" all-clear="isNoItemSelected"></select-all-checkbox>
            <label for="add-todo-input" class="add-todo-input">
                <input type="text" name="todo" id="add-todo-input" ng-model="formData.todo" placeholder="List what to do...">
            </label>
        </form>
        <ul class="todo-list">
            <li ng-repeat="item in todoList track by $index" ng-mouseover="todo.setCurrent($index)" ng-mouseleave="todo.setCurrent()">
                <input ng-model="item.selected" class="toggle select-todo" type="checkbox" value="{{$index}}">
                <label ng-class="{selected:item.selected}">{{item.todo}}</label>
                <span class="action" ng-show="$index == currentIndex">
                    <a href="#" ng-click="todo.editTodo($event, $index)"><i class="fa fa-pencil"></i></a>
                    <a href="#" class="delete-btn" ng-click="todo.deleteTodo($event, $index)"><i class="fa fa-times"></i></a>
                </span>
            </li>
        </ul>
    </div>
    <div class="col-md-7">
        <button onclick="startAddition();">Insert 100 items</button>
        <p class="print-wrap" id="simulation-time-add-wrap">Total time: 0 ms</p><br/>
        <button onclick="selectAll();">Select all items</button>
        <p class="print-wrap" id="simulation-time-select-wrap">Total time: 0 ms</p><br/>
        <button onclick="deleteAll();">Delete all items</button>
        <p class="print-wrap" id="simulation-time-delete-wrap">Total time: 0 ms</p><br/>
        <h3>The Code</h3>
        <pre>
{%= code %}
        </pre>
    </div>
</section>
{% include footer %}
<script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>
<script src="/javascripts/angular.app.js" type="text/javascript"></script>
<script src="/javascripts/simulation.js" type="text/javascript"></script>