{% include header %}
<section class="container">
    <h1 class="vendor-logo">
        <img src="http://3.bp.blogspot.com/-JFOJ-k6tLnA/TsiKgBYPvqI/AAAAAAAAAT8/dGXeu0LeuTE/s1600/backbone-js-logo.png"/>
    </h1>
    <div class="col-md-5 yellow-paper">
        <div class="yellowpage-header">
            <span class="delete-selected">
                <a href="#" style="display:none;" title="Delete Selected"> <img src="/images/eraser.png" alt="Delete Selected"/></a>
            </span>
            <h1 class="title my-title">my todo list</h1>
        </div>
        <form class="add-todo-form">
            <input type="checkbox" class="toggle">
            <label for="add-todo-input" class="add-todo-input">
                <input type="text" name="todo" id="add-todo-input" placeholder="List what to do...">
            </label>
        </form>
        <ul class="todo-list"></ul>
    </div>
    <div class="col-md-7">
        <button onclick="startAddition();">Insert 100 items</button>
        <p class="print-wrap" id="simulation-time-add-wrap">Total time: 0 ms</p><br/>
        <button onclick="selectAll();">Select all items</button>
        <p class="print-wrap" id="simulation-time-select-wrap">Total time: 0 ms</p><br/>
        <button onclick="deleteAll();">Delete all items</button>
        <p class="print-wrap" id="simulation-time-delete-wrap">Total time: 0 ms</p><br/>
        <h3>The Code</h3>
        <pre>
{%= code %}
        </pre>
    </div>
</section>
<!-- TEMPLATES -->
<script type="text/template" id="todo-template">
    <input class="toggle select-todo" type="checkbox" value="<%= id %>" <%= selected ? 'checked' : ''%> >
    <label class="<%= selected ? 'selected' : ''%>"><%= todo %></label>
    <span class="action" style="display:none;">
        <a href="#" class="edit-btn"><i class="fa fa-pencil"></i></a>
        <a href="#" class="delete-btn"><i class="fa fa-times"></i></a>
    </span>
</script> 
{% include footer %}
<script src="/bower_components/underscore/underscore-min.js" type="text/javascript"></script>
<script src="/bower_components/backbone/backbone.js" type="text/javascript"></script>
<script src="/javascripts/backbone.app.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var todoAppView = new TodosView();
        todoAppView.render();
        $('.add-todo-form').submit(function(e){
            var todo = new Todo({todo: $('#add-todo-input').val(),id : todoAppView.model.toArray().length++});
            todos.add(todo);
            $('#add-todo-input').val("");
            e.preventDefault();
        });
        $('.add-todo-form .toggle').change(function(e){
            var self = this;
            _.each(todoAppView.model.toArray(), function(todo, index){
                todo.set({selected: self.checked});
            });
        });
        $('.delete-selected a').click(function(e){
             _.each(todoAppView.model.toArray(), function(todo, index){
                if(todo.get('selected')){
                    todoAppView.model.remove(todo)
                }
            });
            e.preventDefault();
        });
    });
</script>
<script src="/javascripts/simulation.js" type="text/javascript"></script>