{% include header %}
<section class="container">
    <h1>Front-end Frameworks Performance Evaluation</h1>
    <p>One of X-Lab project that comprehensively compare several JS Frameworks.</p>
    <h4>Frameworks compared</h4>
    <ul>
        <li>AngularJS</li>
        <li>Backbone</li>
    </ul>
    <h4>Results</h4>
    <h5>Average of 10 tests.</h5>
    <ul>
        <li>Chrome
            <ul>
                <li>AngularJS</li>
                <li>Backbone</li>
                <li>Knockout</li>
            </ul>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>The Simulation Code</h3>
            <pre>
{%= code %}
            </pre>
        </div>
    </div>
</section>
{% include footer %}